<section>
  <p class="bigtext cute border-bottom border-dark text-center">Cherry Bomb Bakery</p>
</section>
<div class="container">
  <div class="row border-bottom border-dark pt-3 pb-3">
    <div class="cute col text-center"><strong><a class="nodec"href="/">Home</a></strong></div>
    <div class="cute col text-center"><img src="/img/cookbttn.png" width="10%"><a class="nodec"href="cookie">Cookie</a></div>
    <div class="cute row"></div>
    <div class="cute col text-center"><img src="/img/cakebttn.png" width="10%"><a class="nodec"href="cake">Cake</a></div>
    <div class="cute col text-center"><img src="/img/muffbttn.png" width="10%"><a class="nodec"href="muffin">Muffin</a></div>
  </div>
</div>

<section class="centerit">
  <p class="cute text-center">Home to the finest sweets New York can provide</p>
</section>

<div class="container topit">
  <div class="row">
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p><%=@choco.desc.sample%> <%=@choco.flav%> for $<%=@choco.price%></p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p><%=@white.desc.sample%> <%=@white.flav%> for $<%=@white.price%></p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
  <div class="col-md-4 red big border border-dark sweets">

    <div class="mentex cute">
      <p>Placeholder Text</p>
    </div>
  </div>
</div>
</div>
